<main class="grid grid-flow-col border h-screen">
  <div class="col-span-1 flex center flex-col">
    <h1>Login</h1>
    <form #formLogin="ngForm">
      <div>
        <label for="usuario">Usuário</label>
        <input
          type="text"
          name="usuario"
          id="usuario"
          [(ngModel)]="login.login"
          #usuario="ngModel"
          required
        />
        <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)">
          <div [hidden]="!usuario?.errors?.['required']">Digite o usuário</div>
        </div>
      </div>
      <div>
        <label for="senha">Senha</label>
        <input
          type="password"
          name="senha"
          id="senha"
          [(ngModel)]="login.senha"
          #senha="ngModel"
          required
        />
        <div *ngIf="senha.errors && (senha.dirty || senha.touched)">
          <div [hidden]="!senha?.errors?.['required']">Digite a senha</div>
        </div>
      </div>
      <div>
        <div>
          <a href="#">Esqueceu sua senha?</a>
        </div>
      </div>
      <div>
        <button
          type="button"
          (click)="logar()"
          [disabled]="!formLogin.form.valid"
        >
          <i class="fa fa-save" aria-hidden="true"></i> Logar
        </button>
      </div>
      <div>
        <div>
          <div>
            <a href="#">Criar conta</a>
          </div>
        </div>
        <div class="col-3">
          <a target="_blank" href="https://linkedin.com/company/atalayas">
            <i class="fab fa-linkedin-in" style="font-size: 16px"></i>
          </a>
        </div>
        <div class="col-3">
          <a target="_blank" href="https://www.facebook.com/plataformaatalayas">
            <i class="fab fa-facebook-f" style="font-size: 16px"></i>
          </a>
        </div>
        <div class="col-3">
          <a
            target="_blank"
            href="https://www.instagram.com/plataformaatalayas"
          >
            <i class="fab fa-instagram" style="font-size: 16px"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="col-span-3 grid place-items-center bg-teal-600">
    <h1>Exiti</h1>
  </div>
</main>
